<ion-view title="Digital Articles">
<ion-content>


<div class="list card">
		<div class="item item-body">
		<img class="full-image" src="img/Jelad.png">
		</div>
  <div class="item item-avatar">

    <h2>Liverpool vs Chelsea</h2>
    
    <p>Friday, November 7, 2014</p>
  </div>

  <div class="item item-body">
    
    <h3>Anfield showdown promises to be a classic tactical tussle as Mourinho's defensive masterclass last season remains fresh in the memory for Brendan Rodgers</h3>

    <p>
     27 April 2014  was a day that Brendan Rodgers will wish to forget. His swashbuckling all conquering Liverpool side were cut down to size by an epic defensive performance from Chelsea who ran out 0-2 winners after that slip by Steven Gerrard.

The only issue with that theory is that it wasn’t such an epic performance by Chelsea. Yes it was very defensive but it was also fairly comfortable. Despite 73% possession that day, Liverpool cut a frustrated outfit often resorting to shooting from distance, something not known to unsettle Petr Cech.

This season’s match offers an entirely different criteria given Chelsea are riding high at the top of the Premier League table while Liverpool are struggling badly. At Anfield, however, and after some poor results, the onus remains on Liverpool to attack and that may well suit Jose Mourinho, the classic counter puncher.

Mourinho could be criticised for giving away winning positions twice in Manchester this season but his tactics up until Chelsea went ahead in both matches look sound. Chelsea will play in a compact manner against Liverpool and will look to break quickly and test Liverpool’s shaky backline.
    </p>
    
  </div>

</div>


<!--
<h3>Liverpool vs Chelsea – Match Preview</h3>
<h4>Anfield showdown promises to be a classic tactical tussle as Mourinho's defensive masterclass last season remains fresh in the memory for Brendan Rodgers</h4>
<div class="radioheaderimg">
<img ng-src="img/Jelad.png">
</div>
-->

</ion-content>


</ion-view>