<ion-view title="Digital">
  <ion-content class="has-header radiobackground">
  <div class="whit">
    <h3>Headline</h3>
    	<div class="radioheaderimg">
    <img ng-src="img/banner-radioshows.png">
  </div>
     <h4>caption</h4>
     <h4>social media link</h4>
     <h4>Date</h4>
     <p>Article</p>
</div>
<div class="radio">
<h4>OnDigital</h4>

	<img class="radioimg" ng-src="img/Drivetime_Logo-150x150.png">		
	<img class="radioimg" ng-src="img/InAddedTime_Logo-150x150.png">

</div> 
 </ion-content>
 </ion-view>
