<ion-view title="REDCARDCONNECT">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

<ion-nav-buttons side="right">
          <button ng-click="setFocus()" ng-hide="hasFocus" class="button button-icon ion-ios7-search-strong animated"></button>

          <span ng-show="hasFocus" class="animated">
            <label class="item-input-wrapper animated">
              <i class="icon ion-ios7-search placeholder-icon"></i>
              <input ng-blur="noFocus()" type="search" placeholder="Search">
            </label>
            <button ng-click="noFocus()" class="button button-clear animated">
              Cancel
            </button>
          </span>

        </ion-nav-buttons>

  <ion-content class="has-header">
    <h1>Home</h1>
    <br>
    <br>
    <h1>Feature</h1>
    <img src="/img/A29.jpg">
     <br>
     <br>
     <h1>Latest Post</h1>
     <br>
     <br>
     <div class="row">
     <div class="col">
     <img src="/im">
     	
     </div>
     	
     </div>
     <h4></h4>	
  </ion-content>
</ion-view>




