<ion-view title="Home">
 <ion-content class="has-header whit" padding="false" >
    <h1>Home</h1>
    <br>
    <br>
    <h1>Top Stories</h1>
    <div class="list">
        
        <ion-scroll direction="x" class="item wide-item">Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,  Item 1 Item 1 Item 1 Item 1 Item 1,   
        </ion-scroll>

        <ion-scroll direction="x" class="item wide-item">Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,  Item 2 Item 2 Item 2 Item 2 Item 2,   
        </ion-scroll>
                
        
        
      </div>
     <br>
     <br>
     <h1>Latest Post</h1>
        <br>
     <br>


     <div class="row">
     <div class="col">
     <img src="/im">
     	
     </div>
     	
     </div>
     <h4></h4>	
  </ion-content>
  </ion-view>