<!--
<ion-header-bar align-title="center" class="bar-assertive" ng-click="setFocus()" ng-hide="hasFocus">
  <h1 class="title">Title!</h1>
</ion-header-bar> -->
<ion-view title="List">
 
  <ion-content padding="false">
    <div class="row blackk">
    	<div class="col listdiv1"><h2 style="color:white;">list</h2> <h3 style="font-size: 90px; text-align:center;color:white;margin-top: -15px;">+</h3></div>
    	</div>
    	<div class="row greyy">
    	<div class="col listdiv2"><h3 style="font-size: 90px; margin-top: 20px;">+</h3></div>
    	<div class="col listdiv3"><h3 style="font-size: 90px;color:#02a9ef;margin-top: 20px;">+</h3></div>
    		
    	</div>
    	<div class="row greyy">
    	<div class="col listdiv4"  style="border-top: none;"><h3 style="font-size: 90px; color:#ff7e1b;margin-top: 20px;">+</h3></div>
    	<div class="col listdiv5"><h3 style="font-size: 90px; color:#0e9994;margin-top: 20px;">+</h3></div>
    		
    	</div>

  </ion-content>

</ion-view>	

