





<ion-content class="whit" scroll="false" padding="true">
   <div class="loginimg">
   <!--<h2 style="color:#777777 ;font-size:40px">HELLO</h2> -->
   <img ng-src="img/RCC_logo.png">
    </div>
 <form>
      <div class="list inputlog">
        <button class="button button-full button-dark buttonlog">
  <span class="nwfont4">Login with Facebook</span>
</button>
        <button class="button button-full button-dark buttonlog">
  <span class="nwfont4">Login with Twitter</span>
</button>
      <button class="button button-full button-dark buttonlog">
  <span class="nwfont4">Login with Email</span>
</button>
             </div>
               
      


    </form>
<ion-footer-bar align-title="left" class="whit">
  <div class="buttons">
    <a href="#/app/home/loginform" style="color:#fff;text-decoration:none; padding-left: 22px;"> Create new account </a>
  </div>
</ion-footer-bar>
</ion-content>

