<ion-content class="whit">

<div class="loginimg">
   <!--<h2 style="color:#777777 ;font-size:40px">HELLO</h2> -->
   <img ng-src="img/RCC_logo.png">
    </div>

<form>
	
<div class="list inputlog">
 <label class="item item-input labellog">
    <input type="text" placeholder="Name">
  </label>
  <label class="item item-input labellog">
    <input type="password" placeholder="Password">
  </label>
  <label class="item item-input labellog">
    <input type="text" placeholder="Email">
  </label>
<button class="button button-full button-dark buttonlog">
  Submit 
</button>
</div>	
</form>







</ion-content>