<ion-view title="Articles"class="radiobackground" >
<h2>Articles</h2>
  <ion-content class="has-header radiobackground" ng-controller="scrollCtrl" padding="false">

    <div class="radio">
    <ion-list >
    	<ion-item class="radiobackground">
    <img class="radioimg" ng-src="img/radartimg.png">

    <div style="text-align:right;font-size:25px;">
   <i style="color:#55ACEE"class="icon ion-social-twitter"></i>
     <i style="color:#141823"class="icon ion-social-facebook"></i>
     <i style="color:#062540;"class="icon ion-social-instagram"></i>
    </div>  
		</ion-item>
    	<ion-item class="radiobackground ">
		<img class="radioimg"ng-src=" img/radartimg1.png">    	
    	 <div style="text-align:right;font-size:25px;">
   <i style="color:#55ACEE"class="icon ion-social-twitter"></i>
     <i style="color:#141823"class="icon ion-social-facebook"></i>
     <i style="color:#062540;"class="icon ion-social-instagram"></i>
    </div>  
      </ion-item>
		<ion-item class="radiobackground ">
		<img class="radioimg" ng-src="img/radartimg2.png">    	
    	 <div style="text-align:right;font-size:25px;">
   <i style="color:#55ACEE"class="icon ion-social-twitter"></i>
     <i style="color:#141823"class="icon ion-social-facebook"></i>
     <i style="color:#062540;"class="icon ion-social-instagram"></i>
    </div>  
      </ion-item>
    	<ion-item class="radiobackground">
		<img class="radioimg"ng-src=" img/radartimg3.png">      	
    	 <div style="text-align:right;font-size:25px;">
   <i style="color:#55ACEE"class="icon ion-social-twitter"></i>
     <i style="color:#141823"class="icon ion-social-facebook"></i>
     <i style="color:#062540;"class="icon ion-social-instagram"></i>
    </div>  
      </ion-item>
    	<ion-item class="radiobackground">
	<img class="radioimg" ng-src="img/radartimg4.png">	
    	 <div style="text-align:right;font-size:25px;">
   <i style="color:#55ACEE"class="icon ion-social-twitter"></i>
     <i style="color:#141823"class="icon ion-social-facebook"></i>
     <i style="color:#062540;"class="icon ion-social-instagram"></i>
    </div>  
      </ion-list>
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" icon="ion-loading-c" on-infinite="loadMoreData()">
</ion-infinite-scroll>
</div>
  </ion-content>
</ion-view>

