<ion-view title="Articles"class="radiobackground" >
<h2>Articles</h2>
  <ion-content class="has-header radiobackground" ng-controller="scrollCtrl" padding="false">

    <div class="radio">
    <ion-list >
    	<ion-item class="radiobackground">
    <a href="https://www.youtube.com/watch?v=6Ejga4kJUts"><img class="radioimg" ng-src="img/radartimg.PNG"></a>
      
		</ion-item>
    	<ion-item class="radiobackground">
		<img class="radioimg"ng-src=" img/radartimg1.png">    	
    	</ion-item>
		<ion-item class="radiobackground">
		<img class="radioimg" ng-src="img/radartimg2.png">    	
    	</ion-item>
    	<ion-item class="radiobackground">
		<img class="radioimg"ng-src=" img/radartimg3.png">      	
    	</ion-item>
    	<ion-item class="radiobackground">
	<img class="radioimg" ng-src="img/radartimg4.png">	
    	</ion-list>
    <ion-infinite-scroll
  ng-if="moreDataCanBeLoaded()"
  icon="ion-loading-c"
  on-infinite="loadMoreData()">
</ion-infinite-scroll>
</div>
  </ion-content>
</ion-view>

