<ion-view title="Radio">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header radiobackground">
    <div class="radioheaderimg">
    <img ng-src="/../img/banner-radioshows.png">	
    </div>
    <div class="textwrap">
      <h2>OnRadio</h2>
      </div>
	<div class="radio">    

	<img class="radioimg" ng-src="/../img/Drivetime_Logo-150x150.png">

	<img class="radioimg" ng-src="/../img/InAddedTime_Logo-150x150.png">

	<img class="radioimg" ng-src="/../img/ThebeStLeague_Logo-150x150.png">

	<img class="radioimg" ng-src="/../img/TheFightClub_Logo-150x150.png">

</div>
  </ion-content>
</ion-view>
