

<ion-view title="Radio">

  <ion-content class="radiobackground">
    <div class="radioheaderimg">
    <img ng-src="img/banner-radioshows.png">	
    </div>
    <div class="textwrap">
      <h2 class="nwfont1 textheadrp">Radio Channels</h2>
      </div>
	<div class="radio">    

		
  
	<a href="#/app/radio/articles1"><img class="radioimg" ng-src="img/Drivetime_Logo-150x150.png"></a>		
  <a href="#/app/radio/articles">  	<img class="radioimg" ng-src="img/InAddedTime_Logo-150x150.png">
</a>    
  <a href="#/app/radio/articles">
	<img class="radioimg" ng-src="img/ThebeStLeague_Logo-150x150.png">
</a>    
  <a href="#/app/radio/articles">
	<img class="radioimg" ng-src="img/TheFightClub_Logo-150x150.png">
</a>    
  
</div>
  </ion-content>

</ion-view>

