<ion-view title="Setting">
 
  <ion-content >
  
<div class="row" style="background-color:#262626;">
	
<div class="col"style="background-color:#262626;font-family:DiCnBd;">
    <h2 class="fontcolor">Setting</h2>
</div>
</div>
<div class="row" style="background-color:#414141;">
	<div class="col settingdiv2">
		<ul class="list">

  <li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">Push Notification</h3>
     <label class="toggle toggle-assertive greyy">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

<li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">Alert Notification</h3>
     <label class="toggle toggle-assertive greyy">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>
  <li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">Font</h3>
     <label class="toggle toggle-assertive greyy">
       <input type="checkbox">
       <h3 class="fontcolor">Options</h3>
     </label>
  </li>
  
<li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">Video</h3>
     <label class="toggle toggle-assertive greyy">
       <input type="checkbox">
       <h3 class="fontcolor">Options</h3>
     </label>
  </li>
<li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">My List</h3>
     <label class="toggle toggle-assertive greyy">
       <input type="checkbox">
       <h3 class="fontcolor">Layout</h3>
     </label>
  </li>
  <li class="item item-toggle greyy" style="border:none;">
     <h3 class="fontcolor">Social Media Link</h3>
  </li>
</ul>
	</div>
</div>
  </ion-content>
</ion-view>



