<ion-view title="Social">

  <ion-content class="socialbkg">
<div class="textwrap whit"style ="max-width: 100%;width: 550px; height: 150px;">
    <h2>#Trending</h2>
    
  </div>
  <div>
  <div class="row">
    <div class="col radioimg">
      

<div class="list">

  <div class="item item-body">
    <img class="full-image" src="img/Jelad.png">
    
    <p>
      <a href="#" class="subdued">1 Like</a>
      </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>

  </div>
    </div>
    </div>
<div class="col radioimg">
  

<div class="list">

  <div class="item item-body">
    <img class="full-image" src="img/A29.jpg">
    
    <p>
      <a href="#" class="subdued">1 Like</a>
      </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>

  </div>

</div>

  </div>
</div>

<div class="row">
    <div class="col radioimg">
      

<div class="list">

  <div class="item item-body">
    <img class="full-image" src="img/Jelad.png">
    
    <p>
      <a href="#" class="subdued">1 Like</a>
      </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>

  </div>
    </div>
    </div>
<div class="col radioimg">
  

<div class="list">

  <div class="item item-body">
    <img class="full-image" src="img/A29.jpg">
    
    <p>
      <a href="#" class="subdued">1 Like</a>
      </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>

  </div>

</div>

  </div>
</div>
</div>
      <!--
  <div class="radio">    

	<a href="#/app/home/articles"><img class="radioimg" ng-src="img/Drivetime_Logo-150x150.png"></a>		

    	<img class="radioimg" ng-src="img/InAddedTime_Logo-150x150.png">

	<img class="radioimg" ng-src="img/ThebeStLeague_Logo-150x150.png">

	<img class="radioimg" ng-src="img/TheFightClub_Logo-150x150.png">

</div> 
-->
  </ion-content>
</ion-view>


