<ion-view title="Social">
  <ion-content class="socialbkg">
<div class="textwrap whit">
    <h2>#Trending</h2>
    <li><h4>EPL</h4></li>
    <li><h4>Natalia loren</h4></li>
    <li><h4>Instellar</h4></li>
  </div>
              <h4>Font checking</h4>
          <div class="nwfont">Fountain Techies</div>
          <div class="nwfont1"> Fountain Techies</div>
          <div class="nwfont2"> Fountain Techies</div>
          <div class="nwfont3"> Fountain Techies</div>
          <div class="nwfont4"> Fountain Techies</div>
  <div class="radio">    

	<a href="#/app/home/articles"><img class="radioimg" ng-src="/../img/Drivetime_Logo-150x150.png"></a>		

    	<img class="radioimg" ng-src="/../img/InAddedTime_Logo-150x150.png">

	<img class="radioimg" ng-src="/../img/ThebeStLeague_Logo-150x150.png">

	<img class="radioimg" ng-src="/../img/TheFightClub_Logo-150x150.png">

</div>
  </ion-content>
</ion-view>


