
<ion-view title="TV">
  <ion-content class="has-header greenbg">
  
    <div style="height:25%;">
  <ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
    <div class="radioheaderimg"><img ng-src="img/homeopinion.png"></div>
  </ion-slide>
  <ion-slide>
    <div class="radioheaderimg"><img ng-src="img/sporecup.png"></div>
  </ion-slide>
</ion-slide-box>
    </div>
    <div class="textwrap ">
      <h2 class="nwfont1 textheadrp">TV Channels</h2>
      </div>
	<div class="radio">    

	<a href="#/app/tvarticles"><img class="tvimg" ng-src="img/CrossBar_Logo-REV.png"></a>		

	<a href="#/app/tvarticles"><img class="tvimg" ng-src="img/2guys1mic_Logo1.png"></a>

	<a href="#/app/tvarticles"><img class="tvimg" ng-src="img/Trending_Logo1.png"></a>

	<a href="#/app/tvarticles"><img class="tvimg" ng-src="img/TheFightClub_Logo-150x150.png"></a>

</div>
  </ion-content>
</ion-view>
<ion-nav-view name="meunContent"></ion-nav-view>    