<ion-view title="Articles"class="greenbg" >
<h2>Articles</h2>
  <ion-content class="has-header greenbg" ng-controller="scrollCtrl">

    <div class="radio">
    <ion-list >
    	<ion-item class="greenbg">
    <a href="https://www.youtube.com/watch?v=BIdCjgMTves"><img class="radioimg" ng-src="img/pjjjjjj.png"></a>
      </ion-item>
    	<ion-item class="greenbg">
		<img class="radioimg"ng-src=" img/SuarezBite.png">    	
    	</ion-item>
		<ion-item class="greenbg">
		<img class="radioimg" ng-src="img/pjjjjjj.png">    	
    	</ion-item>
    	<ion-item class="greenbg">
		<img class="radioimg"ng-src=" img/SuarezBite.png">      	
    	</ion-item>
    	<ion-item class="greenbg">
	<img class="radioimg" ng-src="img/pjjjjjj.png">	
    	</ion-item>
    	<ion-item class="greenbg">
		<img class="radioimg"ng-src=" img/SuarezBite.png">  
    	</ion-item>
    	<ion-item class="greenbg">
		<img class="radioimg" ng-src="img/pjjjjjj.png">
    	</ion-item>
    </ion-list>
    <ion-infinite-scroll
  ng-if="moreDataCanBeLoaded()"
  icon="ion-loading-c"
  on-infinite="loadMoreData()">
</ion-infinite-scroll>
</div>
  </ion-content>
</ion-view>

