<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="scores" icon="icon newsTab" href="#/app/tab/scores" >
    <ion-nav-view name="tab-scores"></ion-nav-view>
  </ion-tab>
</ion-tabs>

<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="news" icon="icon newsTab" href="#/app/tab/news" >
    <ion-nav-view name="tab-news"></ion-nav-view>
  </ion-tab>
</ion-tabs>

<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="now" icon="icon newsTab" href="#/app/tab/now" >
    <ion-nav-view name="tab-now"></ion-nav-view>
  </ion-tab>
</ion-tabs>